.header-bar{
  background-color: #292929;
  align-items: center;
}
.container {
  justify-content: space-between;
}

.gif-container{
  max-width: 400px;
}
.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gif{
  display: block;
  width: 400px;
  height: 400px;
}

.m-0{
  font-weight: bold;
}

.avatar{
  width: 32px; height: 32px; border-radius: 16px;
}


.input-dark{
  background-color: #444;
  border: transparent;
  color: #ffffff;
}

.input-dark:focus{
  color: #ffffff;
  background-color:#555;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25)
}
.container--narrow{
  max-width: 732px;;
}

.avatar-tiny{
  width: 24px;
  height: 24px;
  border-radius:12px;
  margin-right: 4px;
  position: relative;
  top:-1px;
}

.form-control-title{
  font-size:2rem;
  font-weight: 500;
}

.body-content{
  font-size:1.2rem;
  line-height:1.75;
  color: #292929;
}

textarea.tall-textarea{
  height: 160px;
}

@media (min-width: 768px){
  textarea.tall-textarea{
      height: 420px;
  }
}

.delete-post-button{
  cursor: pointer;
  background: none;
  border:none;
  padding: 0px;
  margin: 0px;
}

.avatar-small{
  width: 60px;
  height: 60px;
  border-radius:16px;
  margin-right: 5px;
  position: relative;
  top: -3px;
}
.icon-png{
  height: 40px;
  width: 40px;
  margin: 3px;
  border-radius: 5px;
  box-shadow: 2px 1px #919090;
}
#search-bar{
  background-color: #292929;
  max-height: 40px;
}
#search-btn{
  border-radius: 20px;
  background-color: #282828;
}
.search-bar {
  display: flex;
  border: 1px solid whitesmoke;
  border-radius: 25px;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 16px;
  color: white;
  background-color: transparent;
}

.search-button {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 0.5rem;
}

.gif-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.load {
  border-radius: 50%;
  max-width: 60vh;
  max-height: 60vh;
}

.Lcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin: 10px;
}

@media (max-width: 420px) {
  .header-bar {
    padding: 1rem;
  }
  
  .header-bar .container {
    flex-direction: column;
    align-items: center;
  }
  
  .header-bar h4 {
    margin-bottom: 1rem;
  }
  
  .header-bar form {
    width: 100%;
  }
  
  .header-bar .col-md {
    margin-bottom: 0.5rem;
  }
  
  .header-bar .col-md-auto {
    margin-top: 0.5rem;
  }
}

@media (max-width: 420px) {
  .header-bar {
    padding: 1rem;
  }

  .header-bar .container {
    flex-direction: column;
    align-items: center;
  }

  .header-bar h4 {
    margin-bottom: 1rem;
  }

  .header-bar .flex-row {
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  .header-bar .flex-row .avatar {
    margin-bottom: 1rem;
  }

  .header-bar .flex-row .btn {
    margin: 0.5rem;
  }
}
@media (max-width: 420px) {
  .gif-container {
    text-align: center;
    margin-right: 5px;
    padding: auto;
  }

  .gif {
    max-width: 100%;
    height: auto;
  }

  .col-lg-5 {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 420px) {
  .container--narrow {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (max-width: 420px) {
  .search-bar {
    flex-direction: row;
    align-items: self-end;

  }

  .search-input {
    width: 100%;
    margin-bottom: 0.2rem;
  }

  .search-button {
    margin-bottom: 0.3rem;
  }
}

@media (max-width: 420px) {
  .gif-container {
    text-align: center;
    margin-bottom: 1rem;
  }

  .signup-form {
    margin-bottom: 1rem;
  }
}
@media (max-width: 420px) {
  .header-bar {
    flex-direction: column;
  }

  .header-bar .container {
    align-items: center;
  }

  .header-bar .flexi-row {
    flex-direction: column;
  }

  .header-bar .flexi-row > * {
    margin: 0.5rem 0;
  }

  .header-bar .flexi-row .avatar {
    order: -1;
  }

  .header-bar .flexi-row .btn {
    order: 1;
  }
}
